.wrapper {
  width: 1000px;
  height: 989px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.5);
  border-top: black solid 2px;
  border-bottom: black solid 2px;
  clear: bottom;
  background-color: white;
}

body{
  /*background-color: #0c74a0;*/
  background: #0c739f linear-gradient( to bottom,
    #128aa7 ,  #128aa7 30px,
    #5ef0ff 30px, #5ef0ff 31px,
    #10cde1 31px, #fff 175px,
    #40c6d3 175px, #0c739f 1020px);
    background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

span {
  color: white;
  position: absolute;
}

.logo {
  float: left;
  width: 287px;
  height: 164px;
  margin-left: 28px;
  padding-top: 11px;
}

.header-right {
  float: right;
}


.contacts {
  color: #5fa5bb;
  font-family: Tahoma;
  font-size: 12pt;
  line-height: 22px;
  float: right;
  padding-top: 11px;
  padding-right: 34px;
}

.countries {
  float: right;
  clear: both;
}

.countries li {
  float: left;
  margin: 9px;
}




/*================NAVIGATION============================*/
.menu {
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.5);
  border-bottom: solid black 2px;
}

.sub-menu {
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.5);
  border-top: solid black 1px;
}


.navigation {
  background: #333333;
}

.navigation ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
  background: #333333;
}

/*.navigation li a:hover {
  background-color: #005f5f;
}*/



/*.navigation a.active {
  background-color: #aaa;
  color: #444;
  cursor: default;
}*/

.navigation li {
  display: inline-block;
  font-size: .9em;
}

.navigation li a {
  display: block;
  padding: 10px 30px;
  background: #333333;
  color: white;
  text-decoration: none;
  font-family: Tahoma;
}

.navigation li ul li {
  display: block;
}


/*sub menu*/


.sub-menu {
    display: none;
    position: absolute;
  }

.sub-menu li {
  display: block;
}

.show-menu:hover .sub-menu {
      display: block;
}





.content {
  width: 100%;
  overflow: hidden;
}

.information {
  border: solid #c7cacf 1px;
  background-color: #edeef0;
  color: #424c43;
  font-family: Tahoma;
  position: center;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
  width: 25%;
  float: left;
}

.empty {
  width: 50%;
  float: left;
  background: #FFFFFF;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
}

.news {
  float: right;
  border: solid #c7cacf 1px;
  background-color: #edeef0;
  color: #424c43;
  width: 25%;
  font-family: Tahoma;
  height: 525px;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
}


.content p {
  font-size: 14px;
  text-align: center;
  color: #333333;
  line-height: 14px;
  padding: 5px;
}


h2 {
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
}


.footer p {
  color: white;
  font-size: 13px;
  font-family: Tahoma;
  text-align: center;
}
